* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #C9C5C5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.parrafo {
    font-weight: 600;
    font-size: 20px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

nav img {
    width: 120px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    transition: all 0.2s ease 0s;
}

.iniciar,
.contactar {
    color: black;
    text-decoration: none;
}

ul li:hover {
    border-radius: 20px;
    background-color: #3AA802;
    color: #fff;
}

header {
    position: absolute;
    bottom: 30%;
    padding: 20px 60px;
}

header h1 {
    font-size: 5rem;
}

header p {
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 1.3rem;
}


.bloque {
    position: absolute;
    z-index: 2;
    
}


.caja .em {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 120px;
    left: 800px;
    z-index: 1;
}


.contend .bloque {
    position: absolute;
    width: 100%;
    max-width: 1365px;
    height: 200px;
    top: 40px;
    background-color: #3AA802;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contend .bloque h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.contend .bloque p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}

.contactanos {
    padding: 12px 24px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s ease;
    border-style: unset;
}

.contactanos:hover {
    background-color: #df2222;
}

.caja2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    top: 0;
    z-index: 3;
    justify-content: center;
    opacity: .5;
}

.caja3 {
    width: 640px;
    height: 627px;
    position: absolute;
    top: 10px;
    background-color: #C9C5C5;
    z-index: 4;
    left: 345px;
    box-shadow: 13px 16px 37px 7px #000000;
    
    
}
.caja3 .titulo {
    color: #000000;
    display: flex;
    top: 100px;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.caja4 {
    width: 640px;
    height: 30px;
    z-index: 5;
    position: absolute;
    top: 10px;
    background-color: #3AA802;
    left: 345px;
    border-top-left-radius: 20 20px;
    border: 10px;
}

.caja5 { 
    width: 640px;
    height: 30px;
    z-index: 6;
    position: absolute;
    top: 100px;
    background-color: #3AA802;
    left: 345px;
    border-top-left-radius: 20 20px;
    border: 10px;
}


.home {
    color: #000000;
    display: flex;
    padding: 20px;
    position: absolute;
    top: 43px;
    left: 925px;
    z-index: 5;
  
}



.caja7 {
    background-color: #fff;
    color: #000000;
    z-index: 7;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 320px;
    height: 30px;
    border-radius: 20px;
}

.Nombre {
    display: flex;
    top: 200px;
    left: 520px;
    position: absolute;
    z-index: 8;
    width: 300px;
    height: 30px;
    padding: 15px;
    border: 2px solid #3AA802;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
.Correo {
    display: flex;
    top: 260px;
    left: 520px;
    position: absolute;
    z-index: 8;
    width: 300px;
    height: 30px;
    padding: 15px;
    border: 2px solid #3AA802;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

.Pregunta {
    display: flex;
    top: 320px;
    left: 520px;
    position: absolute;
    z-index: 8;
    width: 300px;
    height: 80px;
    padding: 15px;
    border: 2px solid #3AA802;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
.bloque2 {
    display: flex;
    position: absolute;
    z-index: 9;
    top: 450px;
    left: 632px;
    background-color: #aaa2a2;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border-color: #000000;
}

.enviar {
    display: flex;
    top: 3px;
    justify-content: center;
    align-items: center;
    left: 12px;
    position: absolute;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 15px;
}

.bloque2:hover {
    border-radius: 10px;
    background-color: #3AA802;
}

.imagen2 {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 550px;
    left: 510px;
    width: 300px;
}

#mensaje-enviado{
    z-index: 5;
    position: absolute;
    top: 500px;
    left: 530px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: #3AA802;
    display: none;
    
}